@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  color: #666;
  background: #313c64;
  color: #fff;
  font-family: Helvetica;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.month{
  border:1px solid black;
  border-right:none;
  text-align:center;
  font-size:15px;
  border-bottom:none;
}

.calender {	
  background-color:red;	
}

.start {
  text-align:left;	
}

.end {
  text-align:left;	
}

.wrapper {
  background-color:red;	
}

.bottom .month {
  border-bottom:1px solid black;	
}
.start {
  margin-left:-10px;	
}

a {	
  color: #fff;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
	  transition: all .2s;
}

a:hover {
/*  color: #313c64;
  background: #313c64;*/
  text-decoration: none;
}

.btn, a:visited, a:active {
  background: #eb3156;
  color: #fff;
  border: none;
}

.btn-primary {
  background: #eb3156;
  color: #fff;
}

.element {
  background: #00c3ff;
  padding: 5%;
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 5%;
  margin: 0;
}

ul.menu {
  margin: -20px -15px 0 -15px;
  font-size: 20px;
}

ul.menu a li {
  padding: 25px;
  border-bottom: 1px solid #293255;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
	  transition: all .2s;
}

ul.menu a li:hover {
  text-decoration: none;
  background: #5b325e;
  color: white;
}

ul.menu a li, ul.menu a:hover li {
  color: white;
}

canvas {
  border: 1px solid red;
  display: block;
}