@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  
}

canvas {
  border: 1px solid red;
  display: block;
}