<section class="dashboard calender">
	<div class="row">
    	<div class="col-md-4 col-sm-4 col-xs-4 month">
        	Jan
        	<div class="start">Start <span class="startdata">1000$</span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month">
        	<p>Two</p>
        	<div class="start">Start <span class="startdata">1000$</span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month">
        	<p>Three</p>
        	<div class="start">Start <span class="startdata">1000$</span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4 col-sm-4 col-xs-4 month">
        	<p>Jan</p>
        	<div class="start">Start <span class="startdata">1000$</span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Two</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Three</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4 col-sm-4 col-xs-4 month"><p>Jan</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Two</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Three</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
    </div>
    <div class="row bottom">
    	<div class="col-md-4 col-sm-4 col-xs-4 month"><p>Jan</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Two</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 month"><p>Three</p>
        	<div class="start">Start <span class="startdata"><p>1000$</p></span></div>
            <div class="end">End <span class="enddata">2000$</span></div>
            <div class="profit">+1000</div>
        </div>
    </div>
</section>

<section id="goals">Coffee Shop's Goals</section>
