<header class="image-bg-fluid-height main">
	<article class="main-box"><h2>Smart banking makes for smart business</h2><a href="#">Start Now!</a></article>
</header>

		<section class="row">	
			
	<div class="section-box"><img src="../imgs/pie-graph-icon.png"><h2>Profit.ly allows small business owners to visualize the health of their business</h2>
	</div>
	
	<div class="section-box">
		<img src="../imgs/double-arrows-icon.png"><h2>Profit.ly helps identify new business opportunities through smart banking data analysis</h2>
	</div>

	<div class="section-box"><img src="../imgs/upward-arrow-icon.png"><h2>Profit.ly monitors your goal progress to keep you on track</h2>
	</div>

</section>
