<section>
		<article class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6">
						<h3><i class="fa fa-rocket"></i>Smart Data <sup>beta</sup></h3>
						This data below is for the month of October 2013. <span class="dotted">Change time range</span>. 
						<article class="data">
								<ul>
										<li><span class="big-number">20%</span> of returning customers.</li>
										<li><span class="big-number">60%</span> bought just one coffee.</li>
										<li><span class="big-number">70%</span> came between 7am and 9am on week days.</li>
								</ul>  
						</article>
						
				</div>
				
			
		</article>
</section>

